@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1554829903756'); /* IE9 */
  src: url('iconfont.eot?t=1554829903756#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABpQAAAKKAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgp4gQMBNgIkAwwLCAAEIAWEbQdDG84FyK6wKcOvCKESAcXVsfdY3v0AGQuLIBwrZ5M8AUgG/YodFoWrUEDOVNcYFIpl6+/P/fQNwWPuakfACtP85Df9kH/5r+SGbsJV7fxu56dIAmlgN9fpwgacWkaB4rZBueElWYGL9fRlwOX0/yugLJoHlNMcGx8DjAMKcC9sewLF2DB2wQs8T6DesFoZR+Ozq5CvsKcF4rk0KeQXoorCCrVCdcPaIj7IUZtephsA76Pfx19ojnySqsy+6PRhzIDBH8u/ZO1Wdm3kN46Xc4NtImMRKMRZY/ZUlmDsLPXZbJPgWMOCH+3p+NEW2MVROYn469z6RjALNemJZJ7Wo8ngBglkUF3M9wNziNX5jBBNTS8+b+4+j+aefOGfU7+++npSfr19ebp16bbJKWlmTX2dfX5Hc0UyYXajpiTQxJ7XnuGHAkk/wg5ABfOzrDeVFCiN6b9A0Prxi2Vb/7UNBXx/+ieaWCqNpTG/AWp37At+krnoIFJKQ2HbctE0OqWWP2sa4E5AMQ+ogB1s9zpd24UZgrW6JvhrDGXIak2ShbWIKg2WUK3WLuotmNjcoIOWJUod5h0BhFZnSJp9QtbqliysF1Tp9odqrZGFemfRsWeD6ZCFh5pT5AYJJohkyhWuAwvjxmVuRmyq84qIu861LxOkqb6xXJjgLtdLLPCjZjOiIEIrh4yDy7htK+JpFeYM60OIXndDg2h6Uz1TDhQ6pHEU4gxEUAIhMYpLBL1RYeX7yzhThI3SHbS66DpO88nBiSb1GgeQE1p3EO1RrvFFmZohJBCCpjiIcTCKs9kUwmseFcYxqF5oQtrTrcHpJoZq67fXO/+3D+rZe+RIkaNoeCqpiyqynfCUWSYuKQAAAAA=') format('woff2'),
  url('iconfont.woff?t=1554829903756') format('woff'),
  url('iconfont.ttf?t=1554829903756') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554829903756#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_you:before {
  content: "\e635";
}

.icon-jiantou_xia:before {
  content: "\e636";
}

